<!DOCTYPE html>
<html>
  <head>
    <title>Under Construction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

      body,html{
        height: 100%;
        padding: 0px;
        margin: 0px;
      }

      img{
        max-width: 100%;
      }

      body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2173E9JM9X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2173E9JM9X');
    </script>
  </head>
  <body>
    <p><img src="/assets/images/uc.gif"></p>
    <p><a href="https://velocidrone.com">velocidrone.com</a></p>
  </body>
</html>